# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/

# =========================
# Secrets - DO NOT UPLOAD
# =========================
.env
.env.*
.streamlit/secrets.toml

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Operating system
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp
*.temp

# =========================
# ML model files
# =========================
*.pkl
*.joblib
*.h5
*.keras